* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
}

ul,
li,
a {
  text-decoration: none;
  list-style-type: none;
}

.video-banner {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  z-index: 10000;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

#myVideo {
  min-width: 100%;
  min-height: 100%;
}

@media (min-width: 768px) {
  body {
    font-size: 16px;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    padding: 40px 6%;
    background-color: transparent;
    color: #fff;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
  }

  .links-wrapper {
    display: flex;
  }

  .link-item {
    margin-left: 1em;
  }

  .links-wrapper li:nth-child(6){
    text-transform: uppercase;
  }

  .center-content {
    position: absolute;
    background-color: #fff;
    /* top: 10em; */
    width: 50%;
    margin: auto;
    border: 1px solid black;
    padding: 30px;
    font-size: 40px;
  }
}
